<!DOCTYPE html>
<html>
<head>
<title>Fashion Designer Landing Page</title>
<link rel="stylesheet" href="./css/homeStyle.css">
</head>
<body>
    <div id="home">
        <div id="header">
            <div id="logo">
                <h3><span>Portfolio </span>Builder</h3>
            </div>
    
            <nav>
                <a href="/compose">GET STARTED</a>
            </nav>
        </div>
    
        <div id="container">
            <div id="content-container">
                <h1>Portfolio</h1>
                <p>It is very important that the hiring manager understands and believes your seriousness towards the job you are applying for. The portfolios we create are simple, fully responsive one page site, but capture your entire career synopsis giving a brief idea of what the hiring manager can expect when they read through your portfolio. 
                </p>
            </div>
            <div id="bg-container">
                <img src="./css/images/x.jpg">
            </div>
        </div>    
    </div>
</body>
</html>